:root {
  --color-brand-primary: hsl(200,85%,50%);
}


body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#main {
  max-width:1000px;
  margin:0 auto;
}

#new-user-form {
	display:flex;
	flex-wrap:wrap;
	border:solid 1px hsl(155, 5%, 90%);
  padding:30px;
}

button, input[type="submit"], input[type="reset"] {
		background-color: var(--color-brand-primary);
		color:#fff;
		border:0;
		font-size:15px;
		padding:7px 15px;
		font-weight:bold;
		cursor:pointer;
}

div.input-group {
	width:30%;
	display:block;
	margin:0 15px 15px 0;
}

div.input-group label {
  display:block;
  font-weight:bold;
  font-size:13px;
}

input {
	height:35px;
	border-radius: 4px;
	border:0;
	background:hsl(150, 7%, 90%);
	padding:3px 5px;
}

ul.people-name-list {
  padding-left: 0;
}

ul.people-name-list li {
  display:flex;
  width: 100%;
  padding:10px 0;
  border-bottom:solid 1px #ccc;
}

ul.people-name-list li span.user {
  flex-grow: 1;
}

a, button.link {
  color: var(--color-brand-primary);
  text-decoration-style: unset;
  border:0;
  padding:0;
  background: transparent;
}

button[disabled] {
  background: #ccc;
}